/* ProductList.css */

.navbar {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.tag .luxury {
    display: flex;
    align-items: center;
}

.tag .luxury img {
    height: 50px;
    margin-right: 10px;
}

.product-grid {
    padding: 20px;
}

.plants-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.plant-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.plant-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cart {
    display: flex;
    align-items: center;
}
.product-image{
    width: 200px;
    height: 200px;
}
.d-flex{
    display: flex;
    align-items:center;
}
.planthead{
    text-align: center;
   margin-left: 290px;
}
